.leftHero{
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}
.rightHero{
    width: 50%;
    background-image: url('../../assets/images/hardwear.jpg');
    background-position: center;
    background-size: cover;
}
.hero{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 60vh;
}

  @media (max-width: 599px) {
    .hero {
        display: flex;
        flex-direction: column;
    }
    .leftHero{
        width:100%;
    }
    .rightHero{
        width:100%;
        height: 50%;
        
    }
     
 }