ul li {
    display: inline;
    padding: 2em;
  }

.navwraper{
    display: flex;
    justify-content: space-between;
}
.navigationLeft {
   display: flex;
   flex-grow: 2;
   justify-content: space-around;

}
.logoImage {
    width: 100%;

}
.burger{
    display:none;
}
@media (max-width: 599px) {
    .navigationLeft{
        display: none;
    }
    .burger {
        display: inline;
    }
}